* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header{

  height: 50px;

}

.menu-content{
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.left-menu{
  display: flex;
 

}

.right-menu{
  display: flex;
 

}

li {
  list-style-type: none;
}

